<!--
  Generated template for the AddGuestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Guest</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item-divider>
      <ion-label floating>Add your new guest here</ion-label>
      <ion-input [(ngModel)]="nameGuest" type="text" autofocus maxLength="40"></ion-input>
      <button ion-button ion-only item-end round (click)="addGuest(nameGuest)" style="width: 40px; height: 40px;">
          <ion-icon name="add"></ion-icon>
      </button>
  </ion-item-divider>

  <h4 class="title">My Guest</h4>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items | async">
        <ion-item text-capitalize *ngIf="item.groupId == groupId">
            <h2>{{item.guestName}}</h2>
            <p>Gift Money: {{item.giftMoney}}</p>
        </ion-item>
        <ion-item-options>
          <button ion-button expandable (click)="editGuest(item)" class="editButton">
            <ion-icon name="ios-brush"></ion-icon>
          </button>
          <button ion-button expandable (click)="deleteGuest(item.key)" class="deleteButton">
            <ion-icon name="ios-trash"></ion-icon>
          </button> 
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
