page-register {
    .background{
        background: url('../../assets/imgs/bg2.jpg') no-repeat;
        background-size: 100%;
        //background: #26d89a;
      }
      .none-color{
        background: none;
      }
      .btn-login{
        background: #6ef295;//26d89a
          }
}
