// http://ionicframework.com/docs/theming/
// App Shared Imports
// --------------------------------------------------

// global styles
$color: (
    green-color:#ed1c24,
    green-navbar:#ed1c24,
   
    whitetext:#ffffff,
  );

.text-green{
  color:color($color, green-navbar);
}
.text-white{
  color:color($color,whitetext)!important;
}
.bg-green {
  background: color($color, green-navbar);
}

/*default*/
.toolbar-background{
  background: none;
}
.toolbar-title-md{
  color: unset!important;
}

/*end default*/
/*header*/
.upfile{
  font-size: 12px!important;
}
.header-avatar img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  
}
.header-avatar .label .label-md{
 text-align: center;
}
.header-avatar ion-img{
  min-width: 100px!important;
  min-height: 100px!important;
  background: transparent;
}
.add-event-icon {
  padding-right: 10px!important;
  font-size: 20px!important;
  font-weight: bold;
}
ion-header .title{
  text-align: center!important;
}
.header-profile .title-md{
margin-left: -5rem;
}
.header-profile .toolbar-title-ios{
  color:#ffffff!important;
  }
  .header-profile .toolbar-title-wp
  {
    margin-left: -3rem;
    color:#ffffff!important;
  }
/*End header*/
    
    
    
    


    