<ion-header>
  <ion-navbar class="bg-green">
    <button ion-button menuToggle class="btn-menu">
      <ion-icon name="menu" class="text-white icon-menu"></ion-icon>
    </button>
    <ion-title ><span class="text-white">Event</span>   </ion-title>
    <ion-buttons end>
      <button ion-button icon-only item-end class="text-white add-event-icon" (click)="addEvent()">
        <ion-icon name="md-add-circle"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="add-event">
  <div class="slide-bar">
      <ion-slides>
          <ion-slide  >
            <img class="img-slide" src="assets/imgs/slide4.png" alt="">
          </ion-slide>
          <ion-slide>
              <img class="img-slide" src="assets/imgs/slide1.png" alt="">
          </ion-slide>
          <ion-slide>
              <img class="img-slide" src="assets/imgs/slide2.png" alt="">
          </ion-slide>
          <ion-slide>
              <img class="img-slide" src="assets/imgs/slide3.png" alt="">
          </ion-slide>
          <ion-slide>
              <img class="img-slide" src="assets/imgs/slide5.png" alt="">
          </ion-slide>
        </ion-slides>
  </div>

  <div class="search bg-img-red text-white">
    <ion-searchbar placeholder="{{'searchevent' | translate}}..." (ionInput)="filterItems($event)"></ion-searchbar>
  </div>
  
    
  
    <ion-item class="title-bar">
       
      <div ion-text class="bold bg-green text-white title-name-bar">
        
        <!-- <ion-img class="img-hat" src="../../assets/imgs/hat2.jpg"></ion-img> -->
        <span class="title-span-bar"> {{"myevent" | translate}}</span>
        <!--<ion-badge class="pull-right seemore" tappable (click)="seemore()">SEE MORE</ion-badge>-->
      </div>
    </ion-item>
 
  <p padding *ngIf="numberOfAllEvents == 0">{{"haveanyevent" | translate}}</p>

  <ion-list class="item-list" >
   
    <ion-item-sliding *ngFor="let item of filteredEvents">
        
          <button ion-item (click)="openEventDetail(item.key, item.name)" text-capitalize>
            <h3>{{item.name}}</h3>
          </button>
          
          <ion-item-options>
            
            <button ion-button expandable (click)="editEvent(item)" class=" editButton">
              <ion-icon name="ios-construct-outline"></ion-icon>
            </button>
            <button ion-button expandable (click)="deleteEvent(item.key)" class="deleteButton">
              <ion-icon name="ios-trash"></ion-icon>
            </button>
            <button ion-button expandable (click)="addGroupOfGuest(item.key, item.name)" class="groupButton">
              <ion-icon name="ios-people"></ion-icon>
            </button>
            <button ion-button expandable (click)="openSummary(item.key)" class="summaryButton">
                <ion-icon name="ios-stats-outline"></ion-icon>
              </button>
          
          </ion-item-options>
    
    </ion-item-sliding>
  </ion-list>
</ion-content>


