page-home {
$color:(
  green-color:#26d89a, 
  white-color:#ffffff,
);
.text-green{
  color:color($color,green-color)!important;
}
.text-white{
  color:color($color,white-color)!important;
}
.bg-green{
  background-color:color($color,green-color);
}
.toolbar-background{
  background: none;
}
.icon-title {
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: sub;
  background: url("../assets/img/ionbooking-ico.png") no-repeat;
  background-size: 100%;    
}
}