page-home{
    $color: (
    green-color:#26d89a,
    blue-navbar:#51b0cc,
    whitetext:#ffffff,
  );


.text-white{
  color:color($color,whitetext)!important;
}
.bg-img-red{
  background-image:url('../assets/imgs/red.png');
  background-size: cover;
}

.bg-blue{
  background: color($color,blue-navbar);
}
/*default*/
.toolbar-background{
  background: none;
}
.toolbar-title-md{
  color: unset!important;
}

/*end default*/
/*header*/
.icon-menu{
  
  font-size:4rem;
}
.btn-menu{
  height: unset;
}
.add-event-icon {
  padding-right: 10px!important;
  font-size: 20px!important;
  font-weight: bold;
}
ion-header .title{
  text-align: center!important;
}

/*End header*/
/*Content*/
.img-slide{
  width: 100%;
  max-height: 180px;
}
.search{
  height: 50px;

  position: relative;
}
.search ion-searchbar{
  position: absolute;
  bottom: -20px;
  background: unset;
 
}
.searchbar-wp .searchbar-input-container{
  border: unset;
}
.search .searchbar-input
{
  padding-left:70px!important;
}
.search .searchbar-search-icon{
  background-image: url('../assets/imgs/search.png');
  left: 20px;
    top: 13px;
    width: 25px;
    height: 25px;
   
    background-size: 24px;
}
.search .searchbar-md .searchbar-input,.search .searchbar-ios .searchbar-input,.search .searchbar-wp .searchbar-input{
  
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  box-shadow: 0px 5px red;
  height: 50px;
}
.title-bar .title-span-bar{
margin-left: 5rem;
}
.title-bar .label{
border-radius:5px;
}
.title-bar{
  position: relative;
  height: 100px;
  background:unset;
 
}

.icon-title-bar{
 margin-left: 5px;
 
 
}


  .title-name-bar{
    font-size: 15px;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(94,112,106,1);
-moz-box-shadow: 1px 1px 8px 0px rgba(94,112,106,1);
box-shadow: 1px 1px 8px 0px rgba(94,112,106,1);

padding: 10px 0;
padding-right: 20px;
background-image: url('../assets/imgs/calendar.png');
background-repeat: no-repeat;
background-position-x: 1rem;
background-position-y: 0.3rem;
background-size: 3rem;
  }

 .title-bar  .item-inner{
  border-bottom: none!important;
  }
 .title-bar .item-wrapper{

  }
/*end content*/
.home {
  .icon-title {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: sub;
    background: url("../assets/img/ionbooking-ico.png") no-repeat;
    background-size: 100%;    
  }
  .booking-card {
    padding: 16px;
    border-top: 5rem solid color($colors, primary);
    .br {
      border-right: 1px solid rgba(86, 61, 124, .1);
    }
    .bb {
      border-bottom: 1px solid rgba(86, 61, 124, .1);
    }
    .datetime-btn {
      background-color: rgba(86, 61, 124, .06);
      .icon {
        color: color($colors, primary);
      }
    }
    .searchbar {
      z-index: 1000;
    }
    .searchbar-results {
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      z-index: 999;
      padding-top: 12px;
      box-shadow: 0 0 1px rgba(86, 61, 124, .06), 0 2px 4px rgba(86, 61, 124, .1), 0 0 100rem rgba(0,0,0,.85);
      .item {
        color: color($colors, primary);
      }
    }
    .guests {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      border-bottom-color: transparent;
      .item {
        font-size: 1.25rem;
        padding-left: 0;
        border: 0;
        .item-inner {
          padding: 0;
        }
        .label {
          color: color($colors, primary);
          margin-right: 0;
        }
        .select {
          font-weight: 600;
          color: color($colors, primary);
          padding-left: 4px;
          align-items: center;
          &.select-md,
          &.select-ios {
            .select-icon {
              width: 4px;
              .select-icon-inner {
                left: 0;
              }
            }
          }
        }
      }
    }
    ion-grid {
      margin-top: -5rem;
      background-color: #fff;
      padding: 0;

      ion-row {

        &:first-child {
          ion-col {
            border-bottom: 1px solid color($colors, light);
          }
        }

        ion-col {
          display: flex;
          align-items: center;
          padding: 1.5rem;
          font-size: 1.5rem;

          &:first-child {
            margin-left: 0;
          }

          ion-icon {
            margin-right: 1rem;
            font-size: 2.5rem;
            width: 2.5rem;
          }
        }
      }

      .searchbar {
        padding: 0;
        &.searchbar-ios {
          background-color: transparent;
          border: 0;
          align-items: baseline;
          .searchbar-search-icon {
            top: 14px;
          }
          .searchbar-input {
            height: 4rem;
          }
        }
        .searchbar-input {
          color: color($colors, primary);
          border-radius: 1rem;
        }
        &.searchbar-md,
        &.searchbar-ios {
          .searchbar-input {
            box-shadow: inset 0 0 8px rgba(86, 61, 124, 0.25), 0 6px 0 rgba(86, 61, 124, .75);
          }
        }
      }

      .datetime {
        &.datetime-md,
        &.datetime-ios {
          padding: 0;
        }
      }

    }
  }

  .home-card {
    width: calc(100% - 12px);
    margin: 0 6px 16px;
    .list {
      button.item {
        &:first-child {
          border-bottom: 1px solid color($colors, primary);
        }
      }
    }
    ion-grid {
      padding: 0;
      ion-row {
        padding: 8px;
        ion-col {
          padding: 8px;
        }
      }
    }
  }

  .home-widget {
    .item {
      padding: 0;
      &.item-divider {
        padding: 8px 16px;
      }
      .item-inner {
        padding: 0;
        .label {
          margin: 0;
        }
      }
    }
  }

  ion-grid.list-hotels {

    ion-row {
      flex-wrap: wrap;

      ion-col {
        padding: 0.5rem;

        .rating-label {
          display: none;
        }

        h5 {
          font-size: 1.5rem;
        }

        .hide-sm {
          display: none;
        }
      }
    }
  }
}
}
.addButton {
  margin-top: 10px; 
}

.ion-col {
  align-content: center;
}
.bg-opacity{
  background-image: url(' ../../assets/imgs/fireworks.png');
  background-repeat: no-repeat;
  background-position: 10px 163px;
  background-size: 50px;
 
}
 .editButton, .deleteButton,.groupButton{
  border-right:1px solid #ffffff!important;
  background:#ed1c24;
}
.summaryButton{
  background:#ed1c24;
}
.editButton{
  padding:0 0.8rem!important;
}
.groupButton{
  padding:0 0.9rem!important;
}
.button-md,.button-ios,.button-wp{
 
}
/*event input*/
.add-event .item-inner{
  border-bottom: 1px solid #ed1c24!important;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
  border: 0px!important;
}
.item-list{
  padding: 0 2rem;
}
.item-list .item .item-block .item-ios{
 padding-left: 0px;
}

/*end event input*/