<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  <ion-item *ngFor="let item of items | async">
    {{item | json}}
  </ion-item>
  
</ion-content>-->
<!-- -->
<ion-header >
  <ion-navbar class="bg-green">
    <button ion-button menuToggle >
      <ion-icon class="text-white" name="menu"></ion-icon>
    </button>
    <ion-title>
      <div ion-text ></div>
      <span class="text-white">Event Planning</span>
    </ion-title>
    <ion-buttons end>
        <button ion-button ion-only item-end round class="text-white add-event-icon" (click)="addEvent(nameEvent)">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-item-divider>
    
  
      <ion-item class="title-bar">
         
        <div ion-text class="bold bg-green text-white title-name-bar">
          <ion-icon name="book" class="text-green icon-title-bar" > </ion-icon> 
          <ion-img class="img-hat" src="../../assets/imgs/hat2.jpg"></ion-img>
          Events
          <ion-badge class="pull-right seemore" tappable (click)="seemore()">SEE MORE</ion-badge>
        </div>
      </ion-item>
    </ion-item-divider>
    
      

  <ion-list padding>
    <ion-item-sliding *ngFor="let event of eventList">
     
        <button ion-item (click)="openEventDetail(event)" text-capitalize *ngIf="event.uid == uid">
            <ion-label>{{event.name}}</ion-label>
        </button>
        <ion-item-options>
          <button ion-button expandable (click)="editEvent(event)" class="editButton">
            <ion-icon name="ios-brush"></ion-icon>
          </button>
          <button ion-button expandable (click)="deleteEvent(event)" class="deleteButton">
            <ion-icon name="ios-trash"></ion-icon>
          </button> 
        </ion-item-options>
        <ion-item-options side="left">
            <button ion-button expandable (click)="addGroupOfGuest(event)" class="groupButton">
              <ion-icon name="ios-people"></ion-icon>
            </button>
          </ion-item-options>
      
      </ion-item-sliding>
  </ion-list>

 
  

    </ion-content>



